[submodule "1-rebase-merge-with-no-fast-forward-example"]
	path = 1-rebase-merge-with-no-fast-forward-example
	url = https://github.com/changing-history/1-rebase-merge-with-no-fast-forward-example.git
[submodule "2-rebase-merge-with-fast-forward-example"]
	path = 2-rebase-merge-with-fast-forward-example
	url = https://github.com/changing-history/2-rebase-merge-with-fast-forward-example.git
[submodule "3-rebase-with-conflicts-example"]
	path = 3-rebase-with-conflicts-example
	url = https://github.com/changing-history/3-rebase-with-conflicts-example.git
[submodule "4-rebase-example-of-rebase-on-particular-commit"]
	path = 4-rebase-example-of-rebase-on-particular-commit
	url = https://github.com/changing-history/4-rebase-example-of-rebase-on-particular-commit.git
[submodule "5-rebase-using-onto-example"]
	path = 5-rebase-using-onto-example
	url = https://github.com/changing-history/5-rebase-using-onto-example.git
[submodule "6-rebase-interactive-mode-example"]
	path = 6-rebase-interactive-mode-example
	url = https://github.com/changing-history/6-rebase-interactive-mode-example
[submodule "7-revert-commit-example"]
	path = 7-revert-commit-example
	url = https://github.com/changing-history/7-revert-commit-example.git
[submodule "8-reset-simple-example"]
	path = 8-reset-simple-example
	url = https://github.com/changing-history/8-reset-simple-example.git
